<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<meta name="keywords" content="your keywords">
		<meta name="description" content="your description">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="ie-stand">
		<title>admin-scaffolding</title>
		<!-- reset.css start -->
		<style>
		@charset "utf-8";html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,fieldset,form,label,input,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,article,aside,audio,canvas,figure,footer,header,mark,menu,nav,section,time,video{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block}ul,ol{list-style:none}img{border:0 none;vertical-align:top}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}strong,em,i{font-style:normal;font-weight:normal}ins{text-decoration:underline}del{text-decoration:line-through}mark{background:0}input::-ms-clear{display:none!important}body{font:12px/1.5 \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,'Hiragino Sans GB',STHeiti,'WenQuanYi Micro Hei','Droid Sans Fallback',SimSun,sans-serif;background:#fff}a{text-decoration:none;color:#333}a:hover{text-decoration:underline}
		</style>
		<!-- reset.css end -->
	</head>
	<body>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
